In [1]:
!cp po7.db po8.db

In [12]:
'''
This file to edit the tables in the database
I have alreaady edited field_book where I dropped the duplicates and set the plant_name to be the primary key
I have already cleaned rgb from additional meta data
Now I will inspect scanner3 and clean it
'''

'\nThis file to edit the tables in the database\nI have alreaady edited field_book where I dropped the duplicates and set the plant_name to be the primary key\n'

In [2]:
'''
In the following I will edit rgb table
I will drop all the non relevant columns like:
    treatment
    plot 
    genotype 
I will keep the plant_name so it can be a foriegn key to field_book
That way we can lose redundant data and we can get this data from the 
field_book.

One conclusion I got from field book:
      {treatment, plot, genotype} hasn't changed overtime for each scan
'''
import sqlite3
import pandas as pd
from IPython.display import display

# global values
po7 = sqlite3.connect('po7.db')
po8 = sqlite3.connect('po8.db')
scanner3d = pd.read_sql_query('SELECT * FROM scanner3d', po7)

In [3]:
#inspect table
display(scanner3d)

,index,plant_name,min_x,min_y,min_z,max_x,max_y,max_z,num_points,hull_volume,...,amplitude_silhouette_1,amplitude_silhouette_2,amplitude_heat_0,amplitude_heat_1,amplitude_heat_2,amplitude_persistence_image_0,amplitude_persistence_image_1,amplitude_persistence_image_2,Unnamed: 0,date
0,0,Aido_100,-0.687389,-0.595167,-0.150176,0.746004,0.606181,0.422280,89348.0,0.434232,...,0.001013,0.000073,145.303819,25.233863,0.125093,680.452694,272.104394,5.423737,None,2020-02-04
1,1,Aido_123,-0.610331,-0.630662,-0.144634,0.685339,0.590249,0.388524,77074.0,0.431524,...,0.001381,0.000120,132.971104,66.151870,1.032622,666.057662,479.197713,15.301617,None,2020-02-04
2,2,Aido_124,-0.633510,-0.469131,-0.132039,0.696690,0.568071,0.371267,80770.0,0.313059,...,0.000979,0.000146,106.768368,20.405339,0.168299,531.643822,231.193092,4.792345,None,2020-02-04
3,3,Aido_170,-0.629430,-0.611257,-0.122805,0.673616,0.630074,0.410606,76509.0,0.424726,...,0.001414,0.000109,249.416043,34.213248,1.050909,853.015157,352.659495,14.834217,None,2020-02-04
4,4,Aido_17,-0.719136,-0.638537,-0.172508,0.624592,0.620152,0.449815,97346.0,0.532415,...,0.001043,0.000266,220.631958,78.159572,0.967256,910.722242,555.693687,25.633030,None,2020-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233424,233424,Xanadu_76,-0.597826,-0.609573,-0.252595,0.616526,0.560529,0.474439,245360.0,0.552743,...,0.001412,0.000145,181.811835,69.319188,1.177465,890.969786,517.308973,22.426362,None,2020-03-01
233425,233425,Xanadu_8,-0.630640,-0.472916,-0.215037,0.550954,0.528322,0.443267,216467.0,0.436295,...,0.001245,0.000114,199.215656,65.468589,1.415466,832.381336,564.594934,30.879220,None,2020-03-01
233426,233426,Xanadu_94,-0.626679,-0.588491,-0.283969,0.497416,0.604982,0.437504,300260.0,0.612409,...,0.001188,0.000220,182.770835,123.040565,5.970483,919.643662,806.102629,70.811392,None,2020-03-01
233427,233427,Xanadu_98,-0.576985,-0.599891,-0.236748,0.622695,0.581644,0.454444,218908.0,0.531995,...,0.001232,0.000151,294.568496,72.640614,1.997844,974.966098,570.423287,31.252020,None,2020-03-01
233428,233428,Xanadu_99,-0.693971,-0.589926,-0.213135,0.661883,0.562856,0.554196,91399.0,0.661665,...,0.001264,0.000314,267.487977,87.133856,3.239008,1049.702627,632.685261,35.598048,None,2020-03-01

In [4]:
'''
ops:
1) drop columns
2) set primary keys
'''
#1) drop columns
drop_unwanted_columns = scanner3d.drop(columns=['index', 'Unnamed: 0'])
display(drop_unwanted_columns)

,plant_name,min_x,min_y,min_z,max_x,max_y,max_z,num_points,hull_volume,oriented_bounding_box,...,amplitude_silhouette_0,amplitude_silhouette_1,amplitude_silhouette_2,amplitude_heat_0,amplitude_heat_1,amplitude_heat_2,amplitude_persistence_image_0,amplitude_persistence_image_1,amplitude_persistence_image_2,date
0,Aido_100,-0.687389,-0.595167,-0.150176,0.746004,0.606181,0.422280,89348.0,0.434232,0.966852,...,0.004238,0.001013,0.000073,145.303819,25.233863,0.125093,680.452694,272.104394,5.423737,2020-02-04
1,Aido_123,-0.610331,-0.630662,-0.144634,0.685339,0.590249,0.388524,77074.0,0.431524,0.836502,...,0.004376,0.001381,0.000120,132.971104,66.151870,1.032622,666.057662,479.197713,15.301617,2020-02-04
2,Aido_124,-0.633510,-0.469131,-0.132039,0.696690,0.568071,0.371267,80770.0,0.313059,0.647572,...,0.004315,0.000979,0.000146,106.768368,20.405339,0.168299,531.643822,231.193092,4.792345,2020-02-04
3,Aido_170,-0.629430,-0.611257,-0.122805,0.673616,0.630074,0.410606,76509.0,0.424726,0.882560,...,0.004288,0.001414,0.000109,249.416043,34.213248,1.050909,853.015157,352.659495,14.834217,2020-02-04
4,Aido_17,-0.719136,-0.638537,-0.172508,0.624592,0.620152,0.449815,97346.0,0.532415,1.129808,...,0.004452,0.001043,0.000266,220.631958,78.159572,0.967256,910.722242,555.693687,25.633030,2020-02-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233424,Xanadu_76,-0.597826,-0.609573,-0.252595,0.616526,0.560529,0.474439,245360.0,0.552743,1.116077,...,0.004150,0.001412,0.000145,181.811835,69.319188,1.177465,890.969786,517.308973,22.426362,2020-03-01
233425,Xanadu_8,-0.630640,-0.472916,-0.215037,0.550954,0.528322,0.443267,216467.0,0.436295,0.798654,...,0.004478,0.001245,0.000114,199.215656,65.468589,1.415466,832.381336,564.594934,30.879220,2020-03-01
233426,Xanadu_94,-0.626679,-0.588491,-0.283969,0.497416,0.604982,0.437504,300260.0,0.612409,1.209290,...,0.004435,0.001188,0.000220,182.770835,123.040565,5.970483,919.643662,806.102629,70.811392,2020-03-01
233427,Xanadu_98,-0.576985,-0.599891,-0.236748,0.622695,0.581644,0.454444,218908.0,0.531995,0.922110,...,0.004344,0.001232,0.000151,294.568496,72.640614,1.997844,974.966098,570.423287,31.252020,2020-03-01
233428,Xanadu_99,-0.693971,-0.589926,-0.213135,0.661883,0.562856,0.554196,91399.0,0.661665,1.249449,...,0.004360,0.001264,0.000314,267.487977,87.133856,3.239008,1049.702627,632.685261,35.598048,2020-03-01

In [16]:
'''
From the data we can see tha each plant has one scan per date
let's check that out
'''
#check that date+name is not redundant
name_date = drop_unwanted_columns['plant_name'] + drop_unwanted_columns['date']
print(f'len(name_date): {len(name_date)}')
print(f'len(set(name_date)): {len(set(name_date))}')
if(len(name_date) == len(set(name_date))):
    print('equal')
#Thus, the combination of date name is unique

len(name_date): 233429
len(set(name_date)): 233429
equal

In [22]:
'''
commit new table drop_unwanted_columns
then edit with the script in the next cell
'''
schema = '''
CREATE TABLE IF NOT EXISTS "scanner3d" (
  "plant_name" TEXT NO NULL,
  "min_x" REAL,
  "min_y" REAL,
  "min_z" REAL,
  "max_x" REAL,
  "max_y" REAL,
  "max_z" REAL,
  "num_points" REAL,
  "hull_volume" REAL,
  "oriented_bounding_box" REAL,
  "axis_aligned_bounding_box" REAL,
  "persistence_entropy_0" REAL,
  "persistence_entropy_1" REAL,
  "persistence_entropy_2" REAL,
  "number_points_0" REAL,
  "number_points_1" REAL,
  "number_points_2" REAL,
  "amplitude_landscape_0" REAL,
  "amplitude_landscape_1" REAL,
  "amplitude_landscape_2" REAL,
  "amplitude_bottleneck_0" REAL,
  "amplitude_bottleneck_1" REAL,
  "amplitude_bottleneck_2" REAL,
  "amplitude_wasserstein_0" REAL,
  "amplitude_wasserstein_1" REAL,
  "amplitude_wasserstein_2" REAL,
  "amplitude_betti_0" REAL,
  "amplitude_betti_1" REAL,
  "amplitude_betti_2" REAL,
  "amplitude_silhouette_0" REAL,
  "amplitude_silhouette_1" REAL,
  "amplitude_silhouette_2" REAL,
  "amplitude_heat_0" REAL,
  "amplitude_heat_1" REAL,
  "amplitude_heat_2" REAL,
  "amplitude_persistence_image_0" REAL,
  "amplitude_persistence_image_1" REAL,
  "amplitude_persistence_image_2" REAL,
  "Unnamed: 0" REAL,
  "date" TEXT NO NULL,
  PRIMARY KEY ( "plant_name", "date")
);
'''
drop_unwanted_columns.to_sql('scanner3d', po8, if_exists='replace')

DatabaseError: Execution failed on sql 'DROP TABLE "scanner3d"': database is locked

In [23]:
sql_command = f'''

PRAGMA foreign_keys=off;

BEGIN TRANSACTION;

ALTER TABLE scanner3d RENAME TO old_scanner3d;

-- define the primary key constraint here
{schema}

INSERT INTO scanner3d SELECT * FROM old_scanner3d;

DROP TABLE old_scanner3d;

COMMIT;

PRAGMA foreign_keys=on;


'''
cursor = po8.cursor()
cursor.executescript(sql_command)

OperationalError: table scanner3d has 40 columns but 41 values were supplied