In [1]:
import sqlite3
import pandas as pd
from IPython.display import display
po8 = sqlite3.connect("po8.db")

In [6]:
field_table = pd.read_sql_query("SELECT * FROM field_book", po8)
display(field_book)

NameError: name 'field_book' is not defined